numpy
pandas
scikit-learn
pytest
cookiecutter
make
plotly

python-dotenv>=0.5.1

fastapi[standard]
email-validator
passlib[bcrypt]
pyjwt
python-decouple
pymongo[srv]
pyarrow
uvicorn 
python-multipart
bcrypt==3.2.0

dagster 
dagster-webserver 

click

streamlit
st-pages

{% if cookiecutter.python_interpreter != 'python3' %}
# backwards compatibility
pathlib2
{% endif %}



furo
sphinx-book-theme
sphinx
sphinx-copybutton
sphinx-last-updated-by-git
sphinx-view
sphinx_inline_tabs
sphinxcontrib.bibtex
sphinxcontrib.mermaid
sphinx-autobuild
sphinx_git
sphinx-favicon
nbsphinx
pandoc
wheel
sphinx-simplepdf
sphinxcontrib-youtube
sphinxprettysearchresults
sphinxcontrib-googleanalytics==0.4